A:link {
	COLOR: #004080; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
td {  font-size: 9pt; line-height: 15pt}
.unnamed1 {  font-size: 14.8px}
BODY {
	FONT-SIZE: 10pt; scrollbar-face-color: F3BEEE; scrollbar-3dlight-color: FFFFFF; scrollbar-darkshadow-color: FFFFFF; scrollbar-track-color: FFFFFF; scrollbar-arrow-color: FFFFFF; scrollbar-shadow-color: FFFFFF}